body {
  text-align: center;
  background-color: #fcde67;
}

#todo-input {
  font-size: 30px;
  border-radius: 0.3rem;
}

#todo-btn {
  font-size: 30px;
  color: black;
  background-color: #5bccf6;
  border-radius: 0.3rem;
}

#delete-btn {
  font-size: 20px;
  background-color: #5bccf6;
  border-radius: 0.3rem;
  margin-left: 0;
}

#todo-list {
  list-style-type: none;
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;

  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
}

#todo-list #todo {
  font-size: 30px;
  position: relative;
}

#clear-btn {
  font-size: 30px;
  background-color: #5bccf6;
  border-radius: 0.3rem;
  justify-content: flex-end;
}
